.content {

    .main-content {
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(243, 240, 224, 0.8), rgba(243, 240, 224, 0.6));
        display: flex;
        flex-direction: column;
        padding: 20px;


        .top {
            margin-top: 20px;
            color: rgba(0, 0, 139, 0.8);
            font-size: 18px;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            user-select: none;
        }

        .terms {
            margin-top: 40px;
            margin-bottom: 30px;
            font-size: 14px;
            font-weight: 500;
            color: rgba(0, 0, 139, 0.8);
        }

        .button {
            width: 100%;
            position: relative;
            user-select: none;
            
            button {
                width: 100%;
                margin: 20px 0 0 0;
                padding: 15px 0;
                border-radius: 40px;
                outline: none;
                border: 1px solid white;
                background-color: white;
                font-weight: 700;
                color: rgba(52, 73, 190, 1);
                position: relative;
                overflow: hidden;
                border: 1px solid rgba(0, 0, 139, 0.2);
            }
            button:active {
                background-color: rgba(223, 223, 243, 1);
            }
        }
    }
}